<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action ="/savebook" th:object="${aBook}" method="post">


    <input type = "hidden" th:field="*{id}"/>
    Author:<input type="text" th:field="*{author}"/>
<!--    <span th:if="${#fields.hasErrors('author')}"
          th:errors="*{author}"></span><br/>-->
    Available:<input type="checkbox" th:field="*{borrowed}" th:check="*{borrowed}"/>
<!--    <span th:if="${#fields.hasErrors('available')}"-->
      <!--    th:errors="*{available}"></span><br/>
    Borrowed:<input type="text" th:field="*{borrowed}"/>
    <span th:if="${#fields.hasErrors('borrowed')}"
          th:errors="*{borrowed}"></span><br/>-->
    Borrowed:<input type="checkbox" th:field="*{borrowed}" th:check="*{borrowed}"/>
    <button type="submit"> Add a book</button> <!--value="Submit"/>-->
</form>

</body>
</html>